.options {
  display: flex;
  flex-wrap: wrap;
  width: 350px;

  @media (max-width: $md-width) {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    background-color: $blue;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;

    @media (max-width: $md-width) {
      width: 100%;
    }

    &-items, header, footer {
      width: 100%;
    }

    &-items {
      margin: 25px 0;
      padding-bottom: 60px;
      position: relative;
    }

    &-item {
      display: none;

      &--active {
        display: block;
      }
    }

    footer {
      align-self: flex-end;
      font-size: 14px;

      a {
        color: $white;
        transition: 200ms opacity ease;

        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  &__location-search {
    position: relative;

    input {
      padding-right: 50px;
    }
  }

  &__button {
    &--geolocate {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 40px;
      width: 40px;
      padding: 5px;
    }

    &--next {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__tabs {
    background-color: $navy;
    height: 100%;
    position: relative;

    @media (max-width: $md-width) {
      height: auto;
      width: 100%;
      display: flex;
    }

    &-item {
      color: $grey;
      width: 75px;
      height: 75px;
      font-size: 35px;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 200ms color ease, 200ms background-color ease;

      @media (max-width: $sm-width) {
        width: 50px;
        height: 50px;
        font-size: 25px;
      }

      &:hover, &:active, &:focus {
        color: $light-grey;
      }

      &--active {
        background-color: $blue;
        color: $white;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

.map {
  width: calc(100% - 350px);
  height: 100vh;
  min-height: 600px;


  @media (max-width: $md-width) {
    width: 100%;
  }
}
